body {
    background-color: #fff;
    font-family: "Roboto";
    overflow-x: hidden;
}

header {
    box-shadow: 0px 0px 5px #888;
}

.navbar {
    background-color: #fff !important;

    img {
        max-height: 75px;
    }
}

.hero {
    background-color: #333;

    h1 {
        margin: 0;
        color: #fff;
        width: 90%;
        max-width: 800px;
        text-align: center;
        padding: 250px 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
    }
}

.portfolio {
    padding: 75px 10px;
    text-align: center;
    
    img {
        max-width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .caption {
        font-size: 25px;
    }

    .projects {
        margin: 50px 0px;
    }

    span, p {
        display: block;
        color: #636b6f;
        font-size: 25px;
    }

    span {
        font-size: 45px;
        color: teal;
    }

    $link-color: teal;

    a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        background-color: $link-color;
        padding: 10px 25px;

        &:hover {
            background-color: darken($link-color, 15);
        }
    }
}
main {
    h2 {
        color: teal;
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    p {
        color: #636b6f;
        display: block;
        text-align: center;
        font-size: 18px;
    }

    section {
        &:nth-child(odd) {
            background-color: #f9f9f9;
            padding: 50px 0px;
        }
    }
}

footer {
    background-color: #f7f7f7;
    padding: 50px 0px;
}
