body {
    background-color: #fff;
    font-family: "Montserrat";
    overflow-x: hidden;
}

.navbar {
    background-color: #4683E7 !important;
    padding: 10px 100px;

    img {
        max-height: 75px;
    }

    .nav-link {
        color: #fff !important;
        margin: 15px;
        transition: all .3s linear;
        cursor: pointer;

        &:hover {
            color: #15c39e !important;
        }
    }

    .language {
        .dropdown-menu {
            width: auto;
            left: -50px;

            .dropdown-item {
                &::before {
                    content: none;
                }
            }
        }

        img {
            height: 10px;
            margin-right: 10px;
        }
    }
}

// .dropdown-menu {
//     width: 300px;

//     p {
//         color: #222;
//         padding: 10px 20px;
//         margin: 0px;
//     }

//     .dropdown-item {
//         color: #888;

//         &:hover {
//             background-color: #fff;
//             color: #0366d6;
//         }

//         &::before {
//             content: "";
//             width: 8px;
//             height: 8px;
//             margin-right: 10px;
//             position: relative;
//             top: -1px;
//             background-color: #0366d6;
//             display: inline-block;
//             border-radius: 100%;
//         }

//         span {
//             float: right;
//             background-color: #e8e8e8;
//             padding: 0px 5px;
//         }
//     }
// }

.hero {
    background-color: #4683E7;
    padding: 150px 0px;

    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 32px;
    }

    h2 {
        color: #eee;
        font-weight: normal;
        font-size: 23px;
    }
}

footer {
    background-color: #2A3338;
    padding: 50px 0px;
    color: #fff;
}
